.friends-list-wrapper {
  margin-top: 2.8em;
  margin-left: -20px;
  height: 280px; 
  width: 8.5em;
  overflow:hidden; 
  overflow-y:scroll;

  .lyle-rogers {
    @include friend-list-profile();
  }

  .joshua-lebaron {
    @include friend-list-profile();
  }

  .hector-herrera-bustillos {
    @include friend-list-profile();
  }

  .jenifer-spencer {
    @include friend-list-profile();
  }

  .auston-jones {
    @include friend-list-profile();
  }

  .don-lebaron {
    @include friend-list-profile();
  }

  .clayton-lebaron {
    @include friend-list-profile();
  }
  
  .justin-lebaron {
    @include friend-list-profile();
  }

  .mario-lebaron {
    @include friend-list-profile();
  }

  .annika-lebaron {
    @include friend-list-profile();
  }
}


