.friends-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 11em;

    .top-column {
        display: flex;
        margin-top: 13em;
        height: 60px;

        .activity-container {
            display: flex;
            align-items: center;
            justify-content: center;
            // margin-left: 2em;
            // margin-right: 2em;
            // width: 5.5em;

            .activity-description {
                font-family: 'Odibee Sans', cursive;
                margin-right: 10px;
                display: flex;
                flex-direction: column;
                font-size: 16px;
                height: 70px;

                .leb-activity {
                    display: flex;
                    margin-top: 5px;

                    h4 {
                        margin-right: 4px;
                    }

                    svg {
                        margin-top: 23px;
                    }
                }

                .friendly-activity {
                    display: flex;
                    padding-left: 12px;
                    margin-top: -2.4em;

                    h4 {
                        margin-right: 4px;
                    }

                    svg {
                        margin-top: 23px; 
                    }
                }
            }
        }

        .user-edit {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 6em;

            svg {
                color: #bd8100;
                padding-top: 26px;
                font-size: 2em;
                margin-bottom: -7px;
            }

            .user-name {
                input {
                    font-family: 'Sriracha', cursive;
                    color: #000000;
                    font-size: 12px;
                    width: 10em;
                    border: none;
                    text-align: center;
                    background: transparent;
                    outline: none;
                }
            }
        }
    }

    .bottom-column {
        .left-side {
            .buisiness-textarea {

                h4 {
                    margin-bottom: -1.7em;
                    margin-left: 2.7em;
                }
            
                textarea {
                    font-family: 'Teko', sans-serif;
                    width: 13em;
                    height: 8em;
                    resize: none;  
                    margin-top: 2em;
                    border-width: 2px;
                    border-color: rgb(0, 148, 247);
                    border-radius: 8px;  
                    outline: none;   
                    line-height: 13px;     
                }
            }

            .about-textarea { 
                h4 {
                    margin-bottom: -14px;
                    margin-left: 4em;
                }
            
                textarea {
                    font-family: 'Teko', sans-serif;
                    outline: none;        
                    width: 13em;
                    height: 8em;
                    margin-right: 10em;
                    margin-top: 1em;
                    margin-bottom: 2em;
                    border-width: 2px;
                    border-color: rgb(0, 148, 247);
                    border-radius: 8px;
                    resize: none;
                    line-height: 13px;     
                }
            }
        }

        .right-side {
            background-color: red;
            
        }
    }
}